@font-face {
  font-family: Copper Hewitt;
  src: url("../fonts/CooperHewitt-Book.otf"); }

@font-face {
  font-family: Copper Hewitt;
  font-weight: bold;
  src: url("../fonts/CooperHewitt-Semibold.otf"); }

@font-face {
  font-family: Copper Hewitt;
  font-weight: medium;
  src: url("../fonts/CooperHewitt-Medium.otf"); }

@font-face {
  font-family: Copper Hewitt;
  font-weight: lighter;
  src: url("../fonts/CooperHewitt-Light.otf"); }

/* bp = breakpoint */
.tarjeta {
  width: 300px;
  height: auto;
  border-radius: 10px;
  border: 3px solid #000027; }
  @media (min-width: 46.8em) {
    .tarjeta {
      width: 400px;
      height: 650px; } }
  .tarjeta__titulo {
    background-color: #000027;
    height: 45px;
    box-sizing: border-box;
    display: flex;
    align-items: center; }
    @media (min-width: 46.8em) {
      .tarjeta__titulo {
        height: 60px; } }
    .tarjeta__titulo__texto {
      font-family: "Copper Hewitt", sans-serif;
      color: white;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      padding-left: 15px; }
      @media (min-width: 46.8em) {
        .tarjeta__titulo__texto {
          font-size: 25px;
          line-height: 32px; } }
    .tarjeta__titulo--negrita {
      font-weight: 600; }
  .tarjeta__contenedorIconos {
    display: flex;
    height: 70px;
    align-items: center; }
    @media (min-width: 46.8em) {
      .tarjeta__contenedorIconos {
        height: 90px; } }
    .tarjeta__contenedorIconos div {
      padding-left: 10px;
      display: flex; }
      @media (min-width: 46.8em) {
        .tarjeta__contenedorIconos div {
          padding-left: 20px; } }
      .tarjeta__contenedorIconos div p {
        font-family: "Barlow", sans-serif;
        color: #000027;
        font-size: 12px;
        padding-right: 10px;
        padding-left: 20px;
        line-height: 19px;
        letter-spacing: 0.06em; }
        @media (min-width: 46.8em) {
          .tarjeta__contenedorIconos div p {
            font-size: 16px;
            padding-right: 50px;
            padding-left: 5px;
            line-height: 19px; } }
        .tarjeta__contenedorIconos div p span {
          font-weight: 600;
          font-size: 14px;
          line-height: 17px; }
  .tarjeta__body {
    padding: 0 10px 0px 10px;
    font-family: "Barlow", sans-serif;
    color: #000027; }
    @media (min-width: 46.8em) {
      .tarjeta__body {
        padding: 0 15px 0px 15px;
        letter-spacing: 0.06em; } }
    .tarjeta__body h3 {
      font-size: 20px;
      line-height: 24px; }
    .tarjeta__body__item, .tarjeta__body__item--modificado {
      margin-left: 20px;
      font-size: 16px;
      line-height: 24px;
      list-style-position: outside; }
      @media (min-width: 46.8em) {
        .tarjeta__body__item, .tarjeta__body__item--modificado {
          font-size: 18px;
          line-height: 52px; } }
      .tarjeta__body__item--modificado {
        line-height: 24px; }
  .tarjeta__precios {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px; }
    @media (min-width: 46.8em) {
      .tarjeta__precios {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px; } }
    .tarjeta__precios__item {
      display: flex;
      width: 100px;
      height: 30px;
      margin: 15px 15px; }
      @media (min-width: 46.8em) {
        .tarjeta__precios__item {
          width: 160px;
          height: 40px; } }
      .tarjeta__precios__item__texto {
        font-family: "Barlow", sans-serif;
        font-weight: bold;
        font-size: 13px;
        letter-spacing: 0.06em;
        padding-left: 15px; }
        @media (min-width: 46.8em) {
          .tarjeta__precios__item__texto {
            font-size: 16px; } }
      .tarjeta__precios__item__icono {
        border-radius: 50%;
        width: 30px;
        height: 30px; }
        @media (min-width: 46.8em) {
          .tarjeta__precios__item__icono {
            width: 40px;
            height: 40px; } }
  .tarjeta__botones {
    justify-content: space-evenly;
    display: flex;
    margin: 1rem; }
    @media (min-width: 46.8em) {
      .tarjeta__botones {
        width: 400px;
        height: 60px;
        justify-content: space-evenly;
        margin: 0; } }
    .tarjeta__botones__botonUno, .tarjeta__botones__botonDos {
      background: #000027;
      border-radius: 4px;
      width: 120px;
      height: 60px;
      color: #Fff;
      font-family: "Barlow", sans-serif;
      font-weight: bold;
      font-size: 15px;
      letter-spacing: 0.06em;
      border: 2px solid #000027;
      cursor: pointer;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media (min-width: 46.8em) {
        .tarjeta__botones__botonUno, .tarjeta__botones__botonDos {
          width: 150px;
          height: 60px;
          font-size: 18px; } }
    .tarjeta__botones__botonDos {
      width: 130px;
      background: none;
      color: #000027;
      text-align: center;
      text-decoration: none; }
      @media (min-width: 46.8em) {
        .tarjeta__botones__botonDos {
          width: 200px; } }

.tarjetaXp {
  margin: 70px 20px;
  min-width: 520px;
  width: 520px;
  height: 354.67px;
  background: #fff;
  box-shadow: 5px 8px 15px rgba(93, 249, 156, 0.2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .tarjetaXp__contenedor {
    width: 440px; }
    .tarjetaXp__contenedor__texto {
      font-family: "Barlow", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.06em; }
  .tarjetaXp__inferior {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 440px; }
    .tarjetaXp__inferior__icono {
      width: 40px;
      border-radius: 50%; }
    .tarjetaXp__inferior__negrita, .tarjetaXp__inferior__regular {
      font-family: "Barlow", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.06em; }
    .tarjetaXp__inferior__regular {
      font-weight: normal; }

/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #2C96FB;
  background: #000027;
  border-radius: 1px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5DF99C;
  border-radius: 1px; }

#contenidoBlog {
  background-color: #000027;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem; }
  @media (min-width: 67em) {
    #contenidoBlog {
      padding-bottom: 10rem; } }
  #contenidoBlog .tituloBlog {
    color: #5DF99C;
    font-family: "Copper Hewitt", sans-serif;
    font-size: 30px;
    letter-spacing: 0.05em;
    padding-top: 2rem;
    width: 90%; }
    @media (min-width: 29.75em) {
      #contenidoBlog .tituloBlog {
        font-size: 50px;
        width: 90%; } }
  #contenidoBlog .grillaNoticias {
    display: block;
    justify-content: center;
    color: #f4f0f0;
    width: 95%; }
    @media (min-width: 54.4em) {
      #contenidoBlog .grillaNoticias {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        color: #f4f0f0;
        width: 100%; } }
    @media (min-width: 75em) {
      #contenidoBlog .grillaNoticias {
        justify-content: center;
        width: 90%; } }
    #contenidoBlog .grillaNoticias .itemBlog {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 2rem; }
      @media (min-width: 60em) {
        #contenidoBlog .grillaNoticias .itemBlog {
          width: 45%;
          margin-top: 5rem; } }
      #contenidoBlog .grillaNoticias .itemBlog .tituloNoticia {
        font-family: "Copper Hewitt", sans-serif;
        text-align: left;
        font-size: 25px;
        width: 90%; }
        @media (min-width: 46.8em) {
          #contenidoBlog .grillaNoticias .itemBlog .tituloNoticia {
            width: 80%; } }
        @media (min-width: 60em) {
          #contenidoBlog .grillaNoticias .itemBlog .tituloNoticia {
            font-size: 30px;
            width: 90%; } }
        @media (min-width: 67em) {
          #contenidoBlog .grillaNoticias .itemBlog .tituloNoticia {
            font-size: 30px;
            width: 80%; } }
      #contenidoBlog .grillaNoticias .itemBlog .imagenBlog {
        margin-top: 1rem;
        width: 90%;
        height: auto;
        border-radius: 10px; }
        @media (min-width: 24em) {
          #contenidoBlog .grillaNoticias .itemBlog .imagenBlog {
            width: 350px;
            height: 210px; } }
        @media (min-width: 46.8em) {
          #contenidoBlog .grillaNoticias .itemBlog .imagenBlog {
            width: 80%;
            height: auto; } }
        @media (min-width: 50em) {
          #contenidoBlog .grillaNoticias .itemBlog .imagenBlog {
            width: 80%;
            height: auto; } }
        @media (min-width: 60em) {
          #contenidoBlog .grillaNoticias .itemBlog .imagenBlog {
            width: 80%;
            height: auto; } }
        @media (min-width: 67em) {
          #contenidoBlog .grillaNoticias .itemBlog .imagenBlog {
            width: 80%;
            height: auto; } }
      #contenidoBlog .grillaNoticias .itemBlog .subtituloNoticia {
        font-family: "Barlow", sans-serif;
        margin-top: 2rem;
        text-align: left;
        width: 90%;
        font-size: 1.2rem; }
        @media (min-width: 46.8em) {
          #contenidoBlog .grillaNoticias .itemBlog .subtituloNoticia {
            width: 80%; } }
        @media (min-width: 54.4em) {
          #contenidoBlog .grillaNoticias .itemBlog .subtituloNoticia {
            width: 85%; } }
        @media (min-width: 67em) {
          #contenidoBlog .grillaNoticias .itemBlog .subtituloNoticia {
            width: 80%; } }
      #contenidoBlog .grillaNoticias .itemBlog .parrafoNoticia {
        font-family: "Barlow", sans-serif;
        margin-top: 1rem;
        text-align: left;
        width: 90%; }
        @media (min-width: 46.8em) {
          #contenidoBlog .grillaNoticias .itemBlog .parrafoNoticia {
            width: 80%; } }
        @media (min-width: 54.4em) {
          #contenidoBlog .grillaNoticias .itemBlog .parrafoNoticia {
            width: 85%; } }
        @media (min-width: 67em) {
          #contenidoBlog .grillaNoticias .itemBlog .parrafoNoticia {
            width: 80%; } }
      #contenidoBlog .grillaNoticias .itemBlog .botonVerMas {
        font-family: "Barlow", sans-serif;
        color: #5DF99C;
        font-weight: 600;
        text-decoration: none;
        font-size: 1.4rem;
        margin-top: 1rem;
        width: 25%; }
        #contenidoBlog .grillaNoticias .itemBlog .botonVerMas:hover {
          color: #2C96FB; }
        @media (min-width: 46.8em) {
          #contenidoBlog .grillaNoticias .itemBlog .botonVerMas {
            font-size: 1.3rem;
            margin-top: 2rem;
            width: 15%; } }
        @media (min-width: 54.4em) {
          #contenidoBlog .grillaNoticias .itemBlog .botonVerMas {
            width: 20%; } }
        @media (min-width: 67em) {
          #contenidoBlog .grillaNoticias .itemBlog .botonVerMas {
            width: 15%; } }
  #contenidoBlog .botonInglesLaboral {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    text-decoration: none;
    color: #000027;
    background-color: #5DF99C;
    padding: 0.8rem;
    border-radius: 5px;
    margin-top: 4rem; }
    #contenidoBlog .botonInglesLaboral:hover {
      color: #5DF99C;
      background-color: #2C96FB; }
    @media (min-width: 46.8em) {
      #contenidoBlog .botonInglesLaboral {
        margin-top: 8rem; } }

/* ------------ NOTICIA EXTENDIDA ------------ */
#bodyNoticia {
  background-color: #000027; }
  #bodyNoticia .flechaVolver {
    height: 20px;
    width: 20px;
    color: white;
    margin-left: 2rem; }
    @media (min-width: 46.8em) {
      #bodyNoticia .flechaVolver {
        margin-left: 5rem; } }
    @media (min-width: 50em) {
      #bodyNoticia .flechaVolver {
        margin-left: 7rem;
        height: 25px;
        width: 25px; } }
    @media (min-width: 67em) {
      #bodyNoticia .flechaVolver {
        margin-left: 20rem;
        height: 30px;
        width: 30px; } }
  #bodyNoticia #noticiaExtendida {
    background-color: #000027;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem; }
    @media (min-width: 67em) {
      #bodyNoticia #noticiaExtendida {
        padding-bottom: 10rem; } }
    #bodyNoticia #noticiaExtendida .tituloNoticiaExtendida {
      font-family: "Copper Hewitt", sans-serif;
      color: #e9e3e3;
      width: 90%;
      text-align: start;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: 1.8rem; }
      @media (min-width: 46.8em) {
        #bodyNoticia #noticiaExtendida .tituloNoticiaExtendida {
          margin-top: 2rem;
          font-size: 2.2rem;
          width: 80%; } }
      @media (min-width: 50em) {
        #bodyNoticia #noticiaExtendida .tituloNoticiaExtendida {
          font-size: 2.5rem;
          width: 80%; } }
      @media (min-width: 67em) {
        #bodyNoticia #noticiaExtendida .tituloNoticiaExtendida {
          width: 50%;
          margin-top: 2rem; } }
    #bodyNoticia #noticiaExtendida .bandaBlog {
      visibility: hidden;
      background: #5DF99C; }
      @media (min-width: 46.8em) {
        #bodyNoticia #noticiaExtendida .bandaBlog {
          position: absolute;
          width: 305px;
          height: 10px;
          right: 50%;
          top: 32%;
          visibility: visible; } }
      @media (min-width: 48em) {
        #bodyNoticia #noticiaExtendida .bandaBlog {
          width: 305px;
          height: 10px;
          right: 50%;
          top: 38%; } }
      @media (min-width: 60em) {
        #bodyNoticia #noticiaExtendida .bandaBlog {
          width: 305px;
          height: 10px;
          right: 60%;
          top: 40%; } }
      @media (min-width: 67em) {
        #bodyNoticia #noticiaExtendida .bandaBlog {
          width: 305px;
          height: 10px;
          right: 59%;
          top: 36%; } }
      @media (min-width: 75em) {
        #bodyNoticia #noticiaExtendida .bandaBlog {
          width: 305px;
          height: 10px;
          right: 59%;
          top: 36%; } }
      @media (min-width: 125em) {
        #bodyNoticia #noticiaExtendida .bandaBlog {
          width: 305px;
          height: 10px;
          right: 63%;
          top: 30%; } }
    #bodyNoticia #noticiaExtendida .imgNoticiaExtendida {
      width: 90%;
      height: auto;
      border-radius: 10px;
      margin-top: 1rem; }
      @media (min-width: 46.8em) {
        #bodyNoticia #noticiaExtendida .imgNoticiaExtendida {
          width: 80%;
          border-radius: 10px;
          margin-top: 2rem; } }
      @media (min-width: 67em) {
        #bodyNoticia #noticiaExtendida .imgNoticiaExtendida {
          width: 50%;
          border-radius: 10px;
          margin-top: 4rem; } }
    #bodyNoticia #noticiaExtendida .subNoticiaExtendida {
      margin: 1.3rem;
      color: #e9e3e3;
      width: 90%;
      font-family: "Barlow", sans-serif;
      font-size: 1.2rem; }
      @media (min-width: 46.8em) {
        #bodyNoticia #noticiaExtendida .subNoticiaExtendida {
          margin-top: 2rem;
          font-size: 1.6rem;
          width: 80%; } }
      @media (min-width: 50em) {
        #bodyNoticia #noticiaExtendida .subNoticiaExtendida {
          font-size: 2rem;
          width: 80%; } }
      @media (min-width: 67em) {
        #bodyNoticia #noticiaExtendida .subNoticiaExtendida {
          margin: 3rem;
          width: 50%;
          font-size: 1.5rem; } }
    #bodyNoticia #noticiaExtendida .pNoticiaExtendida {
      margin: 0.9rem;
      line-height: 1.2rem;
      text-align: justify;
      color: #e9e3e3;
      width: 90%;
      font-family: "Barlow", sans-serif; }
      @media (min-width: 46.8em) {
        #bodyNoticia #noticiaExtendida .pNoticiaExtendida {
          margin: 0.5rem;
          line-height: 1.5rem;
          width: 80%;
          font-size: 1.2rem; } }
      @media (min-width: 50em) {
        #bodyNoticia #noticiaExtendida .pNoticiaExtendida {
          margin: 0,9rem;
          line-height: 1.8rem;
          width: 80%;
          font-size: 1.4rem; } }
      @media (min-width: 67em) {
        #bodyNoticia #noticiaExtendida .pNoticiaExtendida {
          margin: 0.5rem;
          line-height: 2rem;
          width: 50%; } }
    #bodyNoticia #noticiaExtendida .botonInglesLaboral {
      font-family: "Barlow", sans-serif;
      font-weight: 600;
      font-size: 1rem;
      text-decoration: none;
      color: #000027;
      background-color: #5DF99C;
      padding: 0.8rem;
      border-radius: 5px;
      margin-top: 3rem; }
      #bodyNoticia #noticiaExtendida .botonInglesLaboral:hover {
        color: #5DF99C;
        background-color: #2C96FB; }
      @media (min-width: 46.8em) {
        #bodyNoticia #noticiaExtendida .botonInglesLaboral {
          font-size: 1.3rem;
          margin-top: 5rem; } }
      @media (min-width: 50em) {
        #bodyNoticia #noticiaExtendida .botonInglesLaboral {
          margin-top: 5rem; } }
      @media (min-width: 67em) {
        #bodyNoticia #noticiaExtendida .botonInglesLaboral {
          margin-top: 8rem; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

header {
  background-color: #000027;
  font-family: "Barlow", sans-serif;
  height: 12vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
  /* Finaliza menu hamburguesa */ }
  header .logo {
    width: auto;
    height: 5vh;
    padding-left: 70px;
    padding-top: 5px; }
  header nav {
    height: 100%;
    background-color: #000027;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 0;
    margin-right: 20px;
    /* Esto es para el menu hamburguesa en mobile */ }
    header nav label {
      position: absolute;
      display: none;
      top: 0;
      right: 0;
      height: 70px;
      width: 70px;
      background: #000027;
      cursor: pointer;
      z-index: 1; }
    header nav > label > span {
      display: block;
      margin: 4px auto;
      height: 4px;
      width: 25px;
      border-radius: 1px;
      background: #e3e0e0;
      transition: 0.5s; }
      header nav > label > span:nth-child(1) {
        margin-top: 40px; }
  header a {
    list-style: none;
    text-decoration: none;
    color: #ede4e4; }
    header a:hover {
      color: #2C96FB;
      text-decoration: none; }
  header .menu {
    position: relative;
    margin-top: 6px;
    float: right;
    list-style-type: none;
    transition: top 0.5s cubic-bezier(0.3, 0.1, 0.3, 0.85); }
    header .menu li {
      font-family: "Barlow", sans-serif;
      color: #ede4e4;
      font-size: 1.4rem;
      display: inline;
      padding: 10px;
      margin-right: 30px;
      cursor: pointer; }
    header .menu img {
      width: 26px;
      height: 26px; }
  header input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px; }
    header input[type=checkbox]:checked ~ .menu {
      top: 0; }
    header input[type=checkbox]:checked ~ label span {
      background: #5DF99C; }
      header input[type=checkbox]:checked ~ label span:nth-child(1) {
        transform: translateY(8px) rotate(45deg); }
      header input[type=checkbox]:checked ~ label span:nth-child(2) {
        opacity: 0; }
      header input[type=checkbox]:checked ~ label span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg); }

@media (max-width: 1093px) {
  header .logo {
    padding-left: 25px; }
  header .menu {
    position: absolute;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    top: -100vh;
    left: 0;
    height: 80vh;
    width: 100%;
    background: #000027;
    z-index: 1; }
    header .menu li {
      margin: 20px;
      font-size: 1.8em; }
  header nav label {
    display: block;
    z-index: 10; }
    header nav label span {
      background: #2C96FB; } }

@media only screen and (max-width: 550px) {
  header {
    height: 15vh; }
    header .logo {
      height: 2.3em; } }

main #presentacion {
  height: 90vh;
  background-color: #000027;
  overflow: hidden; }
  @media (min-width: 24em) {
    main #presentacion {
      height: 85vh; } }
  @media (min-width: 46.8em) {
    main #presentacion {
      height: 70vh;
      background-color: unset;
      background-image: url(../img/fondoPrincipal.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right; } }
  @media (min-width: 50em) {
    main #presentacion {
      height: 40vh;
      background-position: center; } }
  @media (min-width: 60em) {
    main #presentacion {
      height: 60vh; } }
  @media (min-width: 75em) {
    main #presentacion {
      height: 90vh; } }
  @media (min-width: 90em) {
    main #presentacion {
      height: 100vh;
      background-position-x: 10%; } }
  @media (min-width: 80em) {
    main #presentacion {
      height: 85vh;
      background-position-x: 7%; } }
  @media (min-width: 120em) {
    main #presentacion {
      height: 100vh;
      background-position: center; } }
  main #presentacion .contenidoPresentacion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh; }
    @media (min-width: 46.8em) {
      main #presentacion .contenidoPresentacion {
        flex-direction: row;
        height: 100%; } }
    @media (min-width: 50em) {
      main #presentacion .contenidoPresentacion {
        flex-direction: row;
        height: 80%; } }
    main #presentacion .contenidoPresentacion .textoPresentacion {
      padding-left: 1rem; }
      @media (min-width: 46.8em) {
        main #presentacion .contenidoPresentacion .textoPresentacion {
          padding-left: 3rem;
          width: auto; } }
      @media (min-width: 75em) {
        main #presentacion .contenidoPresentacion .textoPresentacion {
          padding-left: 4rem; } }
      @media (min-width: 120em) {
        main #presentacion .contenidoPresentacion .textoPresentacion {
          padding-left: 10rem;
          height: 70%; } }
      main #presentacion .contenidoPresentacion .textoPresentacion .parrafoPresentacion {
        padding-top: 4px;
        color: #ffff;
        font-family: "Barlow", sans-serif;
        font-weight: 500;
        line-height: 42px;
        letter-spacing: 0.06em;
        font-size: 1.2rem; }
        @media (min-width: 75em) {
          main #presentacion .contenidoPresentacion .textoPresentacion .parrafoPresentacion {
            font-size: 25px; } }
      main #presentacion .contenidoPresentacion .textoPresentacion h1 {
        color: #5DF99C;
        font-family: "Copper Hewitt", sans-serif;
        letter-spacing: 0.05em;
        padding-top: 1rem;
        font-size: 2.2rem; }
        @media (min-width: 22rem) {
          main #presentacion .contenidoPresentacion .textoPresentacion h1 {
            font-size: 2.5rem; } }
        @media (min-width: 24em) {
          main #presentacion .contenidoPresentacion .textoPresentacion h1 {
            font-size: 3rem; } }
        @media (min-width: 46.8em) {
          main #presentacion .contenidoPresentacion .textoPresentacion h1 {
            font-size: 2.8rem; } }
        @media (min-width: 75em) {
          main #presentacion .contenidoPresentacion .textoPresentacion h1 {
            font-size: 65px; } }
        main #presentacion .contenidoPresentacion .textoPresentacion h1 span {
          color: #2C96FB; }
      main #presentacion .contenidoPresentacion .textoPresentacion h3 {
        color: #ffff;
        font-family: "Barlow", sans-serif;
        font-weight: 400;
        padding-top: 2rem;
        font-size: 1.25rem; }
        @media (min-width: 75em) {
          main #presentacion .contenidoPresentacion .textoPresentacion h3 {
            font-size: 1.3rem; } }
      main #presentacion .contenidoPresentacion .textoPresentacion .bandaLateral {
        background: #5DF99C;
        position: absolute;
        width: 58px;
        height: 14px;
        top: 490px; }
        @media (min-width: 46.8em) {
          main #presentacion .contenidoPresentacion .textoPresentacion .bandaLateral {
            top: 550px; } }
        @media (min-width: 48em) {
          main #presentacion .contenidoPresentacion .textoPresentacion .bandaLateral {
            top: 550px; } }
        @media (orientation: landscape) and (min-width: 60em) {
          main #presentacion .contenidoPresentacion .textoPresentacion .bandaLateral {
            top: 380px; } }
        @media (min-width: 75em) {
          main #presentacion .contenidoPresentacion .textoPresentacion .bandaLateral {
            top: 695px;
            left: 90px; } }
        @media (min-width: 120em) {
          main #presentacion .contenidoPresentacion .textoPresentacion .bandaLateral {
            left: 160px;
            top: 593px; } }
      main #presentacion .contenidoPresentacion .textoPresentacion p {
        padding-top: 3rem; }
        @media (min-width: 48em) {
          main #presentacion .contenidoPresentacion .textoPresentacion p {
            padding-top: 2rem; } }
        @media (min-width: 75em) {
          main #presentacion .contenidoPresentacion .textoPresentacion p {
            padding-top: 3rem; } }
        main #presentacion .contenidoPresentacion .textoPresentacion p .botonVerCursos {
          font-family: "Barlow", sans-serif;
          font-weight: 600;
          font-size: 1.3rem;
          text-decoration: none;
          color: #000027;
          background-color: #5DF99C;
          padding: 0.8rem;
          border-radius: 5px; }
          @media (min-width: 46.8em) {
            main #presentacion .contenidoPresentacion .textoPresentacion p .botonVerCursos {
              margin-left: 3rem; } }
          @media (min-width: 75em) {
            main #presentacion .contenidoPresentacion .textoPresentacion p .botonVerCursos {
              margin-left: 3rem; } }
          @media (min-width: 120em) {
            main #presentacion .contenidoPresentacion .textoPresentacion p .botonVerCursos {
              margin-left: 0; } }
          main #presentacion .contenidoPresentacion .textoPresentacion p .botonVerCursos:hover {
            color: #5DF99C;
            background-color: #2C96FB; }
    main #presentacion .contenidoPresentacion .imagenPresentacion {
      display: none;
      overflow: hidden; }
      @media (min-width: 46.8em) {
        main #presentacion .contenidoPresentacion .imagenPresentacion {
          display: block; } }
      main #presentacion .contenidoPresentacion .imagenPresentacion img {
        position: relative;
        z-index: 5;
        width: 500px;
        padding-left: 2rem; }
        @media (min-width: 75em) {
          main #presentacion .contenidoPresentacion .imagenPresentacion img {
            width: 900px;
            height: auto;
            padding-left: 0; } }

main .tituloCentrado {
  font-family: Copper Hewitt;
  text-align: center;
  color: #000027;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 46.8em) {
    main .tituloCentrado {
      display: block; } }
  main .tituloCentrado h2 {
    font-style: bold;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 0.05em;
    padding-top: 20px; }
    @media (min-width: 46.8em) {
      main .tituloCentrado h2 {
        padding-top: 0;
        font-size: 50px; } }
  main .tituloCentrado__postTitulo {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    width: 90%; }
    @media (min-width: 46.8em) {
      main .tituloCentrado__postTitulo {
        font-size: 25px;
        width: 100%;
        margin-top: 2rem; } }
  main .tituloCentrado__previoTarjeta {
    color: #000027;
    margin-top: 20px;
    margin-bottom: 25px;
    font-family: "Barlow", sans-serif;
    padding-left: 10px;
    font-size: 15px;
    text-align: left;
    line-height: 24px;
    letter-spacing: 0.06em; }
    @media (min-width: 46.8em) {
      main .tituloCentrado__previoTarjeta {
        font-size: 20px;
        margin-top: 50px;
        padding-left: 30px; } }

main .cursos {
  height: auto; }
  @media (min-width: 46.8em) {
    main .cursos {
      background-image: url(../img/fondoverde.png);
      background-repeat: no-repeat;
      background-size: 200vh;
      height: 2460px;
      background-position: bottom; } }
  @media (min-width: 48em) {
    main .cursos {
      height: auto; } }
  @media (min-width: 50em) {
    main .cursos {
      background-image: none; } }
  @media (min-width: 67em) {
    main .cursos {
      background-image: url(../img/fondoverde.png); } }
  @media (min-width: 80em) {
    main .cursos {
      background-position: bottom right;
      background-size: 118%; } }
  @media (min-width: 90em) {
    main .cursos {
      background-position: bottom;
      background-size: 100%; } }
  @media (min-width: 120em) {
    main .cursos {
      background-size: contain; } }
  main .cursos__contenedor {
    display: flex; }
    main .cursos__contenedor .opacity_ruler1, main .cursos__contenedor .opacity_ruler2 {
      position: absolute;
      width: 200px;
      height: 800px;
      display: none;
      z-index: 20; }
      @media (min-width: 46.8em) {
        main .cursos__contenedor .opacity_ruler1, main .cursos__contenedor .opacity_ruler2 {
          background: linear-gradient(to right, white, transparent 10%);
          display: block; } }
      @media (min-width: 75em) {
        main .cursos__contenedor .opacity_ruler1, main .cursos__contenedor .opacity_ruler2 {
          background: linear-gradient(to right, white, transparent 90%); } }
    main .cursos__contenedor .opacity_ruler2 {
      right: 0px; }
      @media (min-width: 46.8em) {
        main .cursos__contenedor .opacity_ruler2 {
          background: linear-gradient(to left, white, transparent 10%); } }
      @media (min-width: 75em) {
        main .cursos__contenedor .opacity_ruler2 {
          background: linear-gradient(to left, white, transparent 90%); } }
    main .cursos__contenedor .prev_cursos {
      z-index: 50; }
    main .cursos__contenedor .next_cursos {
      z-index: 50; }
    main .cursos__contenedor .swiper-wrapper {
      width: 100%; }
  main .cursos__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #5DF99C;
    margin-top: 3rem; }
    @media (min-width: 46.8em) {
      main .cursos__info {
        background-color: unset;
        margin-top: 4rem; } }
    @media (min-width: 50em) {
      main .cursos__info {
        background-image: url(../img/fondoverde.png);
        background-position: right;
        background-size: cover;
        background-repeat: no-repeat; } }
    @media (min-width: 67em) {
      main .cursos__info {
        background-color: unset;
        margin-top: 2rem;
        background-image: none; } }
    main .cursos__info .infoIzq {
      display: flex;
      flex-direction: column; }
      @media (min-width: 50em) {
        main .cursos__info .infoIzq {
          flex-direction: row;
          align-items: center;
          width: 80%; } }
      @media (min-width: 120em) {
        main .cursos__info .infoIzq {
          margin-top: 100px;
          flex-direction: row;
          align-items: unset; } }
      main .cursos__info .infoIzq__texto {
        display: flex;
        flex-direction: column;
        align-items: center; }
        @media (min-width: 50em) {
          main .cursos__info .infoIzq__texto {
            align-items: flex-start; } }
        main .cursos__info .infoIzq__texto__titulo, main .cursos__info .infoDer__texto__titulo {
          color: #000027;
          font-family: "Copper Hewitt", sans-serif;
          font-weight: 600;
          font-size: 1.7rem;
          line-height: 50px;
          text-align: center;
          letter-spacing: 0.06em;
          margin-top: 20px; }
          @media (min-width: 46.8em) {
            main .cursos__info .infoIzq__texto__titulo, main .cursos__info .infoDer__texto__titulo {
              align-items: flex-start;
              font-size: 2rem;
              line-height: 70px; } }
          @media (min-width: 120em) {
            main .cursos__info .infoIzq__texto__titulo, main .cursos__info .infoDer__texto__titulo {
              font-size: 40px;
              padding-left: 0;
              text-align: left; } }
        main .cursos__info .infoIzq__texto__parrafo, main .cursos__info .infoDer__texto__parrafo {
          color: #000027;
          font-family: "Copper Hewitt", sans-serif;
          font-weight: normal;
          line-height: 35px;
          letter-spacing: 0.04em;
          text-align: center;
          padding: 0 1rem; }
          @media (min-width: 50em) {
            main .cursos__info .infoIzq__texto__parrafo, main .cursos__info .infoDer__texto__parrafo {
              width: 90%;
              text-align: start;
              padding: 0;
              letter-spacing: 0.1em; } }
          @media (min-width: 120em) {
            main .cursos__info .infoIzq__texto__parrafo, main .cursos__info .infoDer__texto__parrafo {
              margin-right: 150px;
              font-size: 20px;
              width: 736px;
              text-align: left;
              padding: 0; } }
        main .cursos__info .infoIzq__texto__boton, main .cursos__info .infoDer__texto__boton {
          background: #2C96FB;
          box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
          border-radius: 4px;
          color: #000027;
          font-size: 1rem;
          font-style: normal;
          font-family: "Copper Hewitt", sans-serif;
          font-weight: bold;
          line-height: 34px;
          letter-spacing: 0.06em;
          border: none;
          cursor: pointer;
          width: 150px;
          height: 60px;
          margin: 20px 0;
          display: none; }
          main .cursos__info .infoIzq__texto__boton:hover, main .cursos__info .infoDer__texto__boton:hover {
            background-color: #000027;
            color: #5DF99C; }
          @media (min-width: 46.8em) {
            main .cursos__info .infoIzq__texto__boton, main .cursos__info .infoDer__texto__boton {
              display: block;
              width: 185px;
              height: 60px;
              font-size: 23px;
              margin-top: 60px;
              margin-bottom: 0; } }
      main .cursos__info .infoIzq__container__img, main .cursos__info .infoDer__container__img {
        display: none;
        width: 90vw;
        filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
        border-radius: 10px;
        margin: 0 5%; }
        @media (min-width: 50em) {
          main .cursos__info .infoIzq__container__img, main .cursos__info .infoDer__container__img {
            display: block;
            width: 550px;
            height: auto;
            margin: 0; } }
        @media (min-width: 48em) {
          main .cursos__info .infoIzq__container__img, main .cursos__info .infoDer__container__img {
            width: 480px; } }
        @media (min-width: 120em) {
          main .cursos__info .infoIzq__container__img, main .cursos__info .infoDer__container__img {
            display: block;
            width: 620px;
            height: auto;
            margin: 0; } }
    main .cursos__info .infoDer {
      display: flex;
      flex-direction: column; }
      @media (min-width: 50em) {
        main .cursos__info .infoDer {
          flex-direction: row;
          align-items: flex-start;
          justify-content: flex-start;
          width: 80%; } }
      @media (min-width: 120em) {
        main .cursos__info .infoDer {
          margin-top: 80px;
          flex-direction: row;
          align-items: unset;
          margin-bottom: 100px; } }
      @media (min-width: 48em) {
        main .cursos__info .infoDer__container__img {
          margin-top: 3rem; } }
      @media (min-width: 60em) {
        main .cursos__info .infoDer__container__img {
          margin-top: 2rem; } }
      main .cursos__info .infoDer__texto {
        display: flex;
        flex-direction: column;
        align-items: center; }
        @media (min-width: 50em) {
          main .cursos__info .infoDer__texto {
            align-items: flex-end; } }
        @media (min-width: 46.8em) {
          main .cursos__info .infoDer__texto__titulo {
            text-align: right; } }
        main .cursos__info .infoDer__texto__parrafo {
          margin-right: 0px; }
          @media (min-width: 50em) {
            main .cursos__info .infoDer__texto__parrafo {
              text-align: center;
              margin-left: 150px; } }
          @media (min-width: 50em) {
            main .cursos__info .infoDer__texto__parrafo {
              text-align: right;
              margin-left: 150px; } }
        main .cursos__info .infoDer__texto__boton {
          margin-bottom: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none; }

main .experiencias {
  background: #000027;
  display: none; }
  @media (min-width: 48em) {
    main .experiencias {
      display: block; } }
  @media (min-width: 60em) {
    main .experiencias {
      display: block; } }
  main .experiencias .alumnos {
    padding-top: 80px; }
    main .experiencias .alumnos__cards {
      display: flex;
      overflow-x: hidden; }
      main .experiencias .alumnos__cards .tarjetaXp {
        opacity: 30%;
        transition: all 0.5s ease-in-out; }
      main .experiencias .alumnos__cards .tarjetaXp:hover {
        opacity: 100%; }
    main .experiencias .alumnos__titulo, main .experiencias .empresas__titulo {
      color: #fff;
      font-family: "Copper Hewitt", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 70px;
      text-align: center;
      letter-spacing: 0.06em; }
  main .experiencias .empresas {
    padding-top: 80px; }
    main .experiencias .empresas__cards__imagen {
      margin: 135px 40px; }

main .whatsapp {
  position: fixed;
  border-radius: 50%;
  background: #2C96FB;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
  left: 75vw;
  top: 87vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: "Barlow", sans-serif;
  color: #FFF;
  z-index: 30;
  cursor: pointer; }
  @media (min-width: 67em) {
    main .whatsapp {
      width: 70px;
      height: 70px;
      display: flex;
      border-radius: 10px;
      width: 280px;
      height: 70px;
      left: 80vw;
      top: 90vh;
      padding: 11px 28px 11px 24px; } }
  main .whatsapp a {
    text-decoration: none;
    color: #FFF; }
  main .whatsapp img {
    width: 40px;
    height: auto; }
  main .whatsapp div {
    display: none; }
    @media (min-width: 67em) {
      main .whatsapp div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 15px; }
        main .whatsapp div span {
          font-weight: 500;
          font-size: 23px;
          line-height: 30px; }
        main .whatsapp div p {
          font-size: 12px;
          font-style: italic;
          line-height: 14px;
          min-width: 190px; } }

footer {
  background: #000027;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  color: #FFF;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 22px;
  overflow: hidden; }
  @media (min-width: 48em) {
    footer {
      height: 700px; } }
  @media (min-width: 80em) {
    footer {
      height: 290px;
      flex-direction: row; } }
  footer .footer__container {
    padding-top: 80px;
    padding-left: 20px;
    border-top: 2px solid #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    @media (min-width: 80em) {
      footer .footer__container {
        width: 1220px;
        justify-content: space-between;
        height: 280px;
        flex-direction: row;
        padding-left: 0;
        padding-top: 50px; } }
    @media (min-width: 90em) {
      footer .footer__container {
        width: 1220px; } }
    @media (min-width: 120em) {
      footer .footer__container {
        width: 1720px;
        padding-top: 80px; } }
    @media (min-width: 80em) {
      footer .footer__container__redes {
        width: 350px; } }
    footer .footer__container__redes p {
      padding-top: 20px; }
    footer .footer__container__redes__logos {
      padding-top: 50px;
      width: 225px;
      display: flex;
      justify-content: space-between; }
      footer .footer__container__redes__logos img {
        width: 35px;
        height: 35px; }
    footer .footer__container__empresa {
      margin-top: 20px; }
      @media (min-width: 80em) {
        footer .footer__container__empresa {
          width: 400px;
          margin-top: 0; } }
      footer .footer__container__empresa p {
        padding-top: 20px; }
    footer .footer__container__staff {
      margin-top: 20px;
      display: none;
      visibility: hidden; }
      @media (min-width: 48em) {
        footer .footer__container__staff {
          display: block; } }
      @media (min-width: 80em) {
        footer .footer__container__staff {
          display: block;
          width: 840px;
          margin-top: 0; } }
      footer .footer__container__staff__columnas {
        padding-top: 20px;
        display: flex;
        justify-content: space-between; }
