@font-face {
  font-family: Copper Hewitt;
  src: url("../fonts/CooperHewitt-Book.otf"); }

@font-face {
  font-family: Copper Hewitt;
  font-weight: bold;
  src: url("../fonts/CooperHewitt-Semibold.otf"); }

@font-face {
  font-family: Copper Hewitt;
  font-weight: medium;
  src: url("../fonts/CooperHewitt-Medium.otf"); }

@font-face {
  font-family: Copper Hewitt;
  font-weight: lighter;
  src: url("../fonts/CooperHewitt-Light.otf"); }

.tarjeta {
  width: 400px;
  height: 800px;
  border-radius: 10px;
  border: 3px solid #000027; }
  .tarjeta__titulo {
    background-color: #000027;
    height: 81px;
    box-sizing: border-box;
    display: flex;
    align-items: center; }
    .tarjeta__titulo__texto {
      font-family: "Copper Hewitt", sans-serif;
      color: white;
      font-weight: 400;
      font-size: 25px;
      line-height: 32px;
      padding-left: 15px; }
    .tarjeta__titulo--negrita {
      font-weight: 600; }
  .tarjeta__contenedorIconos {
    display: flex;
    height: 90px;
    align-items: center; }
    .tarjeta__contenedorIconos div {
      padding-left: 20px;
      display: flex; }
      .tarjeta__contenedorIconos div p {
        font-family: "Barlow", sans-serif;
        color: #000027;
        font-size: 16px;
        padding-right: 50px;
        padding-left: 5px;
        line-height: 19px;
        letter-spacing: 0.06em; }
        .tarjeta__contenedorIconos div p span {
          font-weight: 600;
          font-size: 14px;
          line-height: 17px; }
  .tarjeta__body {
    padding: 15px;
    font-family: "Barlow", sans-serif;
    color: #000027;
    letter-spacing: 0.06em;
    margin-bottom: 20px; }
    .tarjeta__body h3 {
      font-size: 20px;
      line-height: 24px; }
    .tarjeta__body__item, .tarjeta__body__item--modificado {
      margin-left: 20px;
      font-size: 18px;
      line-height: 52px;
      list-style-position: outside; }
      .tarjeta__body__item--modificado {
        line-height: 24px; }
  .tarjeta__precios {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px; }
    .tarjeta__precios__item {
      display: flex;
      width: 160px;
      height: 40px;
      margin: 20px 15px; }
      .tarjeta__precios__item__texto {
        font-family: "Barlow", sans-serif;
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 0.06em;
        padding-left: 15px; }
      .tarjeta__precios__item__icono {
        border-radius: 50%;
        width: 40px;
        height: 40px; }
  .tarjeta__botones {
    width: 400px;
    height: 60px;
    display: flex;
    justify-content: space-evenly; }
    .tarjeta__botones__botonUno, .tarjeta__botones__botonDos {
      background: #000027;
      border-radius: 4px;
      width: 150px;
      height: 60px;
      color: #Fff;
      font-family: "Barlow", sans-serif;
      font-weight: bold;
      font-size: 18px;
      letter-spacing: 0.06em;
      border: 2px solid #000027;
      cursor: pointer; }
    .tarjeta__botones__botonDos {
      width: 200px;
      background: none;
      color: #000027; }

.tarjetaXp {
  margin: 70px 20px;
  min-width: 520px;
  width: 520px;
  height: 354.67px;
  background: #fff;
  box-shadow: 5px 8px 15px rgba(93, 249, 156, 0.2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .tarjetaXp__contenedor {
    width: 440px; }
    .tarjetaXp__contenedor__texto {
      font-family: "Barlow", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.06em; }
  .tarjetaXp__inferior {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 440px; }
    .tarjetaXp__inferior__icono {
      width: 40px;
      border-radius: 50%; }
    .tarjetaXp__inferior__negrita, .tarjetaXp__inferior__regular {
      font-family: "Barlow", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.06em; }
    .tarjetaXp__inferior__regular {
      font-weight: normal; }

/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #2C96FB;
  background: #000027;
  border-radius: 1px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5DF99C;
  border-radius: 1px; }

#contenidoBlog {
  background-color: #000027;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10rem; }
  #contenidoBlog .tituloBlog {
    color: #5DF99C;
    font-family: "Copper Hewitt", sans-serif;
    font-size: 50px;
    letter-spacing: 0.05em;
    padding-top: 2rem; }
  #contenidoBlog .grillaNoticias {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #f4f0f0;
    width: 80%;
    margin-left: 4rem; }
    #contenidoBlog .grillaNoticias .itemBlog {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 5rem; }
      #contenidoBlog .grillaNoticias .itemBlog .tituloNoticia {
        font-family: "Copper Hewitt", sans-serif;
        text-align: start;
        font-size: 30px; }
      #contenidoBlog .grillaNoticias .itemBlog .imagenBlog {
        margin-top: 2rem;
        width: 550px;
        height: 350px;
        border-radius: 10px; }
      #contenidoBlog .grillaNoticias .itemBlog .subtituloNoticia {
        font-family: "Barlow", sans-serif;
        margin-top: 2rem;
        text-align: left;
        width: 90%; }
      #contenidoBlog .grillaNoticias .itemBlog .parrafoNoticia {
        font-family: "Barlow", sans-serif;
        margin-top: 1rem;
        text-align: left;
        width: 90%; }
      #contenidoBlog .grillaNoticias .itemBlog .botonVerMas {
        font-family: "Barlow", sans-serif;
        color: #5DF99C;
        font-weight: 600;
        text-decoration: none;
        text-align: left;
        font-size: 1.3rem;
        margin-top: 2rem;
        width: 15%; }
        #contenidoBlog .grillaNoticias .itemBlog .botonVerMas:hover {
          color: #2C96FB; }
  #contenidoBlog .botonInglesLaboral {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    text-decoration: none;
    color: #000027;
    background-color: #5DF99C;
    padding: 0.8rem;
    border-radius: 5px;
    margin-top: 8rem; }
    #contenidoBlog .botonInglesLaboral:hover {
      color: #5DF99C;
      background-color: #2C96FB; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

header {
  background-color: #000027;
  font-family: "Barlow", sans-serif;
  height: 12vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Finaliza menu hamburguesa */ }
  header .logo {
    width: auto;
    height: 5vh;
    padding-left: 70px;
    padding-top: 5px; }
  header nav {
    height: 100%;
    background-color: #000027;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 0;
    margin-right: 20px;
    /* Esto es para el menu hamburguesa en mobile */ }
    header nav label {
      position: absolute;
      display: none;
      top: 0;
      right: 0;
      height: 70px;
      width: 70px;
      background: #000027;
      cursor: pointer;
      z-index: 1; }
    header nav > label > span {
      display: block;
      margin: 4px auto;
      height: 4px;
      width: 25px;
      border-radius: 1px;
      background: #e3e0e0;
      transition: 0.5s; }
      header nav > label > span:nth-child(1) {
        margin-top: 40px; }
  header a {
    list-style: none;
    text-decoration: none;
    color: #ede4e4; }
    header a:hover {
      color: #2C96FB;
      text-decoration: none; }
  header .menu {
    position: relative;
    margin-top: 6px;
    float: right;
    list-style-type: none;
    transition: top 0.5s cubic-bezier(0.3, 0.1, 0.3, 0.85); }
    header .menu li {
      font-family: "Barlow", sans-serif;
      color: #ede4e4;
      font-size: 1.4rem;
      display: inline;
      padding: 10px;
      margin-right: 30px;
      cursor: pointer; }
    header .menu img {
      width: 26px;
      height: 26px; }
  header input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px; }
    header input[type=checkbox]:checked ~ .menu {
      top: 0; }
    header input[type=checkbox]:checked ~ label span {
      background: #fff; }
      header input[type=checkbox]:checked ~ label span:nth-child(1) {
        transform: translateY(8px) rotate(45deg); }
      header input[type=checkbox]:checked ~ label span:nth-child(2) {
        opacity: 0; }
      header input[type=checkbox]:checked ~ label span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg); }

main #presentacion {
  height: 90vh;
  background-image: url(../img/fondoPrincipal.png);
  background-repeat: no-repeat;
  background-size: cover; }
  main #presentacion .contenidoPresentacion {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    main #presentacion .contenidoPresentacion .bandaInferior {
      position: absolute;
      left: 1007px;
      top: 785px;
      background: #5DF99C;
      width: 414px;
      height: 34px;
      z-index: 0;
      mix-blend-mode: exclusion; }
    main #presentacion .contenidoPresentacion .bandaSuperior {
      position: absolute;
      width: 305px;
      height: 34px;
      left: 1598px;
      top: 280px;
      background: #5DF99C; }
    main #presentacion .contenidoPresentacion .textoPresentacion {
      height: 70%;
      padding-left: 10rem; }
      main #presentacion .contenidoPresentacion .textoPresentacion p {
        color: #ffff;
        font-family: "Barlow", sans-serif;
        font-weight: 500;
        line-height: 42px;
        letter-spacing: 0.06em;
        font-size: 35px; }
      main #presentacion .contenidoPresentacion .textoPresentacion h1 {
        color: #5DF99C;
        font-family: "Copper Hewitt", sans-serif;
        font-size: 75px;
        letter-spacing: 0.05em;
        padding-top: 1rem; }
        main #presentacion .contenidoPresentacion .textoPresentacion h1 span {
          color: #2C96FB; }
      main #presentacion .contenidoPresentacion .textoPresentacion h3 {
        color: #ffff;
        font-family: "Barlow", sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        padding-top: 2rem;
        padding-left: 100px; }
      main #presentacion .contenidoPresentacion .textoPresentacion .bandaLateral {
        background: #5DF99C;
        position: absolute;
        width: 58px;
        height: 14px;
        left: 160px;
        top: 593px; }
      main #presentacion .contenidoPresentacion .textoPresentacion p {
        padding-top: 3rem; }
        main #presentacion .contenidoPresentacion .textoPresentacion p .botonVerCursos {
          font-family: "Barlow", sans-serif;
          font-weight: 600;
          font-size: 1.3rem;
          text-decoration: none;
          color: #000027;
          background-color: #5DF99C;
          padding: 0.8rem;
          border-radius: 5px; }
          main #presentacion .contenidoPresentacion .textoPresentacion p .botonVerCursos:hover {
            color: #5DF99C;
            background-color: #2C96FB; }
    main #presentacion .contenidoPresentacion .imagenPresentacion img {
      position: relative;
      width: 800px;
      height: 500px;
      z-index: 5; }

main .tituloCentrado {
  font-family: Copper Hewitt;
  text-align: center;
  color: #000027; }
  main .tituloCentrado h2 {
    font-style: bold;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 0.05em; }
  main .tituloCentrado__postTitulo {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px; }
  main .tituloCentrado__previoTarjeta {
    color: #000027;
    margin-top: 50px;
    margin-bottom: 25px;
    font-family: "Barlow", sans-serif;
    padding-left: 30px;
    font-size: 20px;
    text-align: left;
    line-height: 24px;
    letter-spacing: 0.06em; }

main .cursos {
  background-image: url(../img/green_background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 2460px; }
  main .cursos__contenedor {
    display: flex; }
    main .cursos__contenedor .opacity_ruler1, main .cursos__contenedor .opacity_ruler2 {
      position: absolute;
      width: 200px;
      height: 800px;
      top: 0px;
      background: linear-gradient(to right, white, transparent 90%);
      z-index: 20; }
    main .cursos__contenedor .opacity_ruler2 {
      right: 0px;
      background: linear-gradient(to left, white, transparent 90%); }
    main .cursos__contenedor .prev_cursos {
      z-index: 50; }
    main .cursos__contenedor .next_cursos {
      z-index: 50; }
    main .cursos__contenedor .swiper-wrapper {
      width: 100%; }
  main .cursos__info {
    display: flex;
    flex-direction: column;
    align-items: center; }
    main .cursos__info .infoIzq {
      margin-top: 150px;
      display: flex; }
      main .cursos__info .infoIzq__texto {
        display: flex;
        flex-direction: column; }
        main .cursos__info .infoIzq__texto__titulo, main .cursos__info .infoDer__texto__titulo {
          color: #000027;
          font-family: "Copper Hewitt", sans-serif;
          font-weight: 600;
          font-size: 50px;
          line-height: 70px;
          letter-spacing: 0.06em;
          margin-top: 20px; }
        main .cursos__info .infoIzq__texto__parrafo, main .cursos__info .infoDer__texto__parrafo {
          color: #000027;
          width: 736px;
          font-family: "Copper Hewitt", sans-serif;
          font-weight: normal;
          font-size: 25px;
          line-height: 45px;
          letter-spacing: 0.1em;
          margin-right: 150px; }
        main .cursos__info .infoIzq__texto__boton, main .cursos__info .infoDer__texto__boton {
          width: 208px;
          height: 74px;
          background: #000027;
          box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
          border-radius: 4px;
          color: #5DF99C;
          font-size: 26px;
          font-style: normal;
          font-family: "Copper Hewitt", sans-serif;
          font-weight: bold;
          line-height: 34px;
          letter-spacing: 0.06em;
          margin-top: 60px;
          border: none;
          cursor: pointer; }
      main .cursos__info .infoIzq__container__img, main .cursos__info .infoDer__container__img {
        width: 620px;
        height: auto;
        filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
        border-radius: 10px; }
    main .cursos__info .infoDer {
      display: flex;
      margin-top: 80px; }
      main .cursos__info .infoDer__texto {
        display: flex;
        flex-direction: column;
        align-items: flex-end; }
        main .cursos__info .infoDer__texto__titulo {
          text-align: right; }
        main .cursos__info .infoDer__texto__parrafo {
          text-align: right;
          margin-right: 0px;
          margin-left: 150px; }

main .experiencias {
  background: #000027; }
  main .experiencias .alumnos {
    padding-top: 80px; }
    main .experiencias .alumnos__cards {
      display: flex;
      overflow-x: hidden; }
      main .experiencias .alumnos__cards .tarjetaXp {
        opacity: 30%;
        transition: all 0.5s ease-in-out; }
      main .experiencias .alumnos__cards .tarjetaXp:hover {
        opacity: 100%; }
    main .experiencias .alumnos__titulo, main .experiencias .empresas__titulo {
      color: #fff;
      font-family: "Copper Hewitt", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 50px;
      line-height: 70px;
      text-align: center;
      letter-spacing: 0.06em; }
  main .experiencias .empresas {
    padding-top: 80px; }
    main .experiencias .empresas__cards__imagen {
      margin: 135px 40px; }

main .whatsapp {
  position: fixed;
  width: 320px;
  height: 90px;
  background: #2C96FB;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  left: 1560px;
  top: 860px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 11px 28px 11px 24px;
  font-family: "Barlow", sans-serif;
  color: #FFF;
  z-index: 30; }
  main .whatsapp img {
    width: 67.7px;
    height: 68px; }
  main .whatsapp div {
    margin-left: 15px; }
    main .whatsapp div span {
      font-weight: 500;
      font-size: 25px;
      line-height: 30px; }
    main .whatsapp div p {
      font-size: 12px;
      font-style: italic;
      line-height: 14px;
      min-width: 190px; }

footer {
  background: #000027;
  height: 350px;
  display: flex;
  justify-content: center;
  color: #FFF;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 22px; }
  footer .footer__container {
    padding-top: 80px;
    width: 1720px;
    height: 280px;
    border-top: 2px solid #FFF;
    display: flex;
    justify-content: space-between; }
    footer .footer__container__redes {
      width: 350px; }
      footer .footer__container__redes p {
        padding-top: 20px; }
      footer .footer__container__redes__logos {
        padding-top: 50px;
        width: 225px;
        display: flex;
        justify-content: space-between; }
    footer .footer__container__empresa {
      width: 400px; }
      footer .footer__container__empresa p {
        padding-top: 20px; }
    footer .footer__container__staff {
      width: 840px; }
      footer .footer__container__staff__columnas {
        padding-top: 20px;
        display: flex;
        justify-content: space-between; }
