.tarjeta{
    width: 400px;
    height: 800px;
    border-radius: 10px;
    border: 3px solid $colorFondo;

    &__titulo{
        background-color: $colorFondo;
        height: 81px;
        box-sizing: border-box;
        display: flex;
        align-items: center;

        &__texto{
            font-family: $fuenteGeneral;
            color: white;
            font-weight: 400;
            font-size: 25px;
            line-height: 32px;
            padding-left: 15px;
        }

        &--negrita{
            font-weight: 600;
        }
    }
    &__contenedorIconos{
        display: flex;
        height: 90px;
        align-items: center;
        

        div{
            padding-left: 20px;
            display: flex;

            p{
                font-family: $fuenteContenido;
                color: $colorFondo;
                font-size: 16px;
                padding-right: 50px;
                padding-left: 5px;
                line-height: 19px; 
                letter-spacing: $interlineadoDeTexto;

                span{
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                }
            }
        }
    }
    &__body{
        padding: 15px;
        font-family: $fuenteContenido;
        color: $colorFondo;
        letter-spacing: $interlineadoDeTexto;
        margin-bottom: 20px;

        h3{
            font-size: 20px;
            line-height: 24px;
            
        }
        &__item{ 
            margin-left: 20px;
            font-size: 18px;
            line-height: 52px;
            list-style-position: outside;

            &--modificado{
                @extend .tarjeta__body__item;
                line-height: 24px;
            }
        }
    }
    &__precios{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;

        &__item{
            display: flex;
            width: 160px;
            height: 40px;
            margin: 20px 15px;

            &__texto{
                font-family: $fuenteContenido;
                font-weight: bold;
                font-size: 16px;
                letter-spacing: $interlineadoDeTexto;
                padding-left: 15px;
            }

            &__icono{
                border-radius: 50%;
                width: 40px;
                height: 40px;
            }
        }

    }

    &__botones{
        width: 400px;
        height: 60px;
        display: flex;
        justify-content: space-evenly;

        &__botonUno{
            background: $colorFondo;
            border-radius: 4px;
            width: 150px;
            height: 60px;
            color: #Fff;
            font-family: $fuenteContenido;
            font-weight: bold;
            font-size: 18px;
            letter-spacing: $interlineadoDeTexto;
            border: 2px solid $colorFondo;
            cursor: pointer;
        }

        &__botonDos{
            @extend .tarjeta__botones__botonUno;
            width: 200px;
            background: none;
            color: $colorFondo;
        }
    }


}

.tarjetaXp{
    margin: 70px 20px;
    min-width: 520px;
    width: 520px;
    height: 354.67px;
    background: #fff;
    box-shadow: 5px 8px 15px rgba(93, 249, 156, 0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    &__contenedor{
        width: 440px;
        
        &__texto{
            font-family: $fuenteContenido;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: $interlineadoDeTexto;
        }
    }

    &__inferior{
        margin: 10px 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 440px;

        &__icono{
            width: 40px;
            border-radius: 50%;
        }

        &__negrita{
            font-family: $fuenteContenido;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: $interlineadoDeTexto;
        }


        &__regular{
            @extend .tarjetaXp__inferior__negrita;
            font-weight: normal;
        }
    }
}